div, span {
    border: 1px solid black;
    padding: 10px;
}

.pestagna {
    margin: 4px;
    font-weight: bold;
    background-color: gainsboro;
    padding: 3px;
}

.pestagna:hover {
    cursor: pointer;
    background-color: grey;
}

.contenido {
    text-align: center;
}

.oculto {
    display: none;
}