#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.error, .error-input {
  color: orange;
  padding: 5px;
  border: 2px solid white;
  border-radius: 15px;
  margin: 10px;
}

button img {
  pointer-events: none;
}

img, input {
  max-width: 128px;
  max-height: 128px;
}
textarea {
  max-width: 512px;
  max-height: 128px;
}
button {
  margin: 5px;
}
a *, a {
  color: white;
  text-decoration: underline;
}