.producto {
    border: 1px solid white;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
}
.boton-activado {
    background-color: blanchedalmond;
    color: black;
}
.boton, .boton-activado {
    margin: 5px;
}