.titulo {
    background-color: gainsboro;
    border: 1px solid black;
    font-weight: bold;
}

.titulo:hover {
    cursor: pointer;
}

.contenido {
    background-color: azure;
    border: 1px solid black;
}

.oculto {
    display: none;
}