input.error, fieldset.error {
    border: 2px solid red;
}
input {
    margin: 5px;
}
button {
    margin: 3px;
    padding: 5px;
    font-weight: bold;
    font-size: 1.2em;
}
#mensajes-error {
    border: 2px solid red;
    background-color: #fdd;
    color: red;
    margin-bottom: 20px;
}
#mensajes-error li {
    color: black;
    margin: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}
.oculto {
    display: none;
}
#mostrar-discos {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
}
.disco {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    min-width: 300px;
    text-align: center;
}
.disco img {
    width: 128px;
    height: 128px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.disco button img {
    width: 16px;
    height: 16px;
}