.interprete_principal {
    background-color: #f0f0f0;
    border-radius: 8px;
    border: 2px solid rgb(48, 48, 48);
    padding: 10px;
    color: black;
    margin: 10px;
    text-align: left;
    display: flex;
}
.interprete_foto img {
    margin: 5px;
    border-radius: 20%;
    margin-right: 15px;
    width: 128px;
    height: 128px;
}
.interprete_nombre {
    font-weight: bold;
}
.interprete_biografia {
    font-style: italic;
    max-height: 300px;
    overflow: scroll;
}