.muestra-portada_principal {
    border: 1px solid whitesmoke;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.muestra-portada_principal img {
    width: 512px;
    height: 1024px;
    border-radius: 5px;
}

.muestra-portada_principal p {
    color: whitesmoke;
    font-weight: bolder;
    font-size: 1.4em;
}