.pelicula_prnicipal {
    border: 1px solid white;
    border-radius: 10px;
    align-content: center;
    margin-bottom: 15px;
    width: auto;
    padding: 10px;
}

.pelicula_titulo-contraido {
    font-weight: bold;
    font-size: 2em;
}

.pelicula_portada-contraida {
    margin: 5px;
    width: 256px;
    height: 512px;
    border-radius: 5px;
}

.pelicula_boton-detalles {
    margin: 5px;
}
