.oculto {
    display: none;
}
.resuelto * {
    border: none;
}
#juego {
    text-align: center;
    align-items: center;
}
img {
    width: 333px;
    height: 166px;
    border: 1px solid black;
    /*Las imágenes no se deberían poder arrastrar, pero si su contenedor.*/
    /*user-drag: none;*/
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: grab;
}
#inicio {
    border: 1px solid black;
    padding-bottom: 30px;
    padding-top: 10px;
    margin: 0 100px;
}
table, tr, td {
    border-collapse: collapse;
    border: 3px dotted black;
    padding: 0;
    margin: 0;
}
td {
    vertical-align: top;
    line-height: 0;
}
table {
    border: 4px solid black;
    margin: 0 auto;
    margin-top: 20px;
}
span.dejable {
    display: inline-block;
    width: 333px;
    height: 166px;
    margin: 0;
    padding: 0;
}
button {
    margin: 0 auto;
    font-size: 2em;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 3px;
}
#ganar {
    color: #fffb00;
    background-color: #000000;
    font-size: 6em;
}
.bloque, td {
    padding: 0;
}
.bloque {
    height: 0%;
}
