.contenedor_principal {
    height: 100%;
    margin-top: 0;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(51, 51, 51);
    border: 1px solid black;
    
}