main {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    max-width: auto;
}
nav, div {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
main>div {
    width: 70%;
}
.pelicula {
    text-decoration: underline;
    margin: 7px;
}
.pelicula:hover{
    cursor: pointer;
    color: slategray;
}
.error {
    color: red;
}