.producto {
    border: 1px solid white;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
}
.boton-activado {
    background-color: blanchedalmond;
    color: black;
}
.boton, .boton-activado {
    margin: 5px;
}

.boton-producto>img, img.boton-producto, .boton-lista>img, img.boton-lista, .minilista-boton-borrar>img, img.minilista-borrar, .minilista-boton>img, img.minilista-seleccionar {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
}
.boton-producto, .boton-lista {
    padding: 5px;
    margin: 5px;
}
.boton-agnadir, .minilista-boton, .agnadir-1 {
    background-color: lime;
}
.boton-editar, .boton-aceptar {
    background-color: yellow;
}
.boton-borrar, .minilista-boton-borrar, .eliminar-1 {
    background-color: red;
}
.boton-nuevo-producto, .boton-nueva-lista {
    background-color: cyan;
}
.boton-recargar-productos {
    background-color: orange;
}
.eliminar-10 {
    background-color: rgb(149, 0, 0);
}
.agnadir-10 {
    background-color: green;
}

.producto img {
    max-width: 128px;
    max-height: 128px;
}

/*.lista-productos {
    display: flex;
}*/

.agnadir-1>img, .eliminar-1>img, .agnadir-10>img, .eliminar-10>img {
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
}
.agnadir-1, .eliminar-1, .agnadir-10, .eliminar-10 {
    padding: 2px;
}