#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.lista-peliculas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  
}

input {
  margin: 4px;
}

.error {
  font-weight: bolder;
  color: red;
}
img {
  margin: 5px;
}