.seccion {
    border: 2px solid white;
    border-radius: 15px;
    margin: 4px;
    height: 100%;
    min-width: 30%;
    overflow: scroll;
    max-height: 1000px;
}
.secciones {
    display: flex;
    align-content: center;
    margin: auto;
    width: 95vw;
}