.vehiculo {
    border: 2px solid white;
    border-radius: 15px;
    padding: 25px;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
}
.titulo-vehiculo {
    font-size: 1.3em;
    font-weight: bolder;
}
.vehiculo a {
    color: white;
    text-decoration: underline;
}
.vehiculo-expandido {
    max-width: 100%;
    margin: 10px;
}